body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('src/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #24272b;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar-logo span {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.contact-section {
    padding: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background for text contrast */
    border-radius: 10px;
    margin: 50px auto;
    max-width: 600px;
}

.contact-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-size: 16px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
}

.contact-form button {
    background-color: #2ABB7F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #228A64;
}

.social-icons {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

.social-icons a {
    margin: 10px 0;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.social-icons a:hover {
    color: #2ABB7F;
}
